name: Backend CI

on:
    push:
        branches:
            - master
        paths:
            - "server/**"
            - ".github/workflows/backend-build.yml"
            - "package-lock.json"
            - "package.json"
    pull_request:
        branches:
            - master
        paths:
            - "server/**"
            - ".github/workflows/backend-build.yml"
            - "package-lock.json"
            - "package.json"

jobs:
    build-server:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: server
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: npm
                  cache-dependency-path: server/package-lock.json
            - name: Install dependencies
              run: npm ci
            - name: TypeScript build
              run: npm run build
